@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;500;700&display=swap");
ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: 0;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Jost", sans-serif;
}

header {
  padding: 38px 0;
}
header section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header section nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 42px;
     -moz-column-gap: 42px;
          column-gap: 42px;
}
header section nav ul li a {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 1px;
  color: #333136;
  text-transform: uppercase;
}
header section nav .gamburger_menu {
  display: none;
  font-size: 28px;
}

main {
  margin-bottom: 90px;
}
main section {
  background: #E7816B;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 80px;
     -moz-column-gap: 80px;
          column-gap: 80px;
  position: relative;
}
main section:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 600px;
  height: 600px;
  border-radius: 100%;
  background: -webkit-gradient(linear, left top, right top, from(rgba(93, 2, 2, 0.0001)), to(rgba(93, 2, 2, 0.497569)));
  background: linear-gradient(90deg, rgba(93, 2, 2, 0.0001) 0%, rgba(93, 2, 2, 0.497569) 100%);
  mix-blend-mode: normal;
  opacity: 0.31;
  -webkit-transform: matrix(0, -1, -1, 0, 0, 0);
          transform: matrix(0, -1, -1, 0, 0, 0);
}
main section .main__info {
  padding-left: 90px;
}
main section .main__info h2 {
  font-weight: 500;
  font-size: 48px;
  line-height: 48px;
  color: #ffffff;
  margin-bottom: 11px;
}
main section .main__info p {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;
  margin-bottom: 40px;
}
main section .main__info button {
  background: #ffffff;
  border-radius: 8px;
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #333136;
  cursor: pointer;
  padding: 18px 24px;
}
main section .main__bg img {
  display: block;
}

.about section .about__wrap {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  text-align: center;
  margin-bottom: 120px;
}
.about section .about__wrap .about__item {
  padding: 0 24px;
}
.about section .about__wrap .about__item img {
  margin-bottom: 24px;
}
.about section .about__wrap .about__item .about__info h5 {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 5px;
  color: #333136;
  margin-bottom: 32px;
  text-transform: uppercase;
}
.about section .about__wrap .about__item .about__info p {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #333136;
}
.about section .about__footer {
  background: #E7816B;
  border-radius: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 95px;
}
.about section .about__footer .about__ft_info {
  color: #ffffff;
}
.about section .about__footer .about__ft_info h5 {
  font-weight: 500;
  font-size: 40px;
}
.about section .about__footer .about__ft_info p {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}
.about section .about__footer .about__ft_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.about section .about__footer .about__ft_btn button {
  background: #ffffff;
  border-radius: 8px;
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #333136;
  padding: 17px 19px;
  cursor: pointer;
}

aside {
  margin-bottom: 160px;
  padding: 0 20px;
}
aside section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}
aside section .web_design, aside section .app_design, aside section .graphic_design {
  position: relative;
}
aside section .design__info {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
aside section .design__info h3, aside section .design__info p {
  font-weight: 500;
  color: #ffffff;
  text-transform: uppercase;
}
aside section .design__info h3 {
  font-size: 40px;
  letter-spacing: 2px;
  margin-bottom: 14px;
}
aside section .design__info p {
  font-size: 15px;
  letter-spacing: 5px;
}
aside section .veiw_design {
  display: grid;
  row-gap: 14px;
}

@media only screen and (max-width: 1140px) {
  .container {
    width: 900px;
  }
  main section .main__info {
    padding-left: 40px;
  }
  main section .main__info h2 {
    font-size: 32px;
  }
  aside section img {
    width: 100%;
  }
}
@media only screen and (max-width: 900px) {
  .container {
    width: 700px;
  }
  main section {
    -webkit-column-gap: 0px;
       -moz-column-gap: 0px;
            column-gap: 0px;
  }
  main section:before {
    width: 450px;
    height: 450px;
  }
  main section .main__info {
    padding-left: 20px;
  }
  main section .main__info h2 {
    font-size: 24px;
  }
  main section .main__info p {
    font-size: 14px;
  }
  aside section .design__info h3 {
    font-size: 24px;
  }
  aside section .design__info p {
    font-size: 14px;
  }
  aside section .veiw_design {
    row-gap: 0px;
  }
  .about section .about__wrap {
    -webkit-column-gap: 5px;
       -moz-column-gap: 5px;
            column-gap: 5px;
  }
}
@media only screen and (max-width: 700px) {
  .container {
    width: 600px;
  }
  main section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    overflow: hidden;
  }
  main section:before {
    top: 100px;
    left: 200px;
    width: 500px;
    height: 500px;
  }
  main section .main__info {
    padding: 20px 58px 0 58px;
  }
  main section .main__info h2 {
    font-size: 48px;
  }
  main section .main__info p {
    font-size: 16px;
  }
  aside {
    padding: 0 10px;
  }
  aside section {
    grid-template-columns: 1fr;
  }
  aside section .design__info h3 {
    font-size: 48px;
  }
  .about section .about__wrap {
    grid-template-columns: 1fr;
  }
  .about section .about__wrap .about__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 32px;
       -moz-column-gap: 32px;
            column-gap: 32px;
    text-align: left;
  }
}
@media only screen and (max-width: 600px) {
  .container {
    width: 500px;
  }
  header section nav ul {
    display: none;
  }
  header section nav .gamburger_menu {
    display: block;
  }
  main section:before {
    left: 150px;
  }
  main section .main__info {
    padding: 20px 38px 0 38px;
  }
  main section .main__info h2 {
    font-size: 42px;
  }
  aside section .design__info h3 {
    font-size: 40px;
  }
}
@media only screen and (max-width: 500px) {
  .container {
    width: 400px;
  }
  main section {
    width: 100% !important;
    padding: 0 10px;
  }
  main section:before {
    left: 0px;
  }
  main section .main__info {
    padding: 20px 24px 0 24px;
  }
  main section .main__info h2 {
    font-size: 40px;
  }
  aside section .design__info h3 {
    font-size: 28px;
  }
  .about section .about__wrap .about__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
}
@media only screen and (max-width: 400px) {
  .container {
    width: 350px;
  }
  main section {
    padding: 0 15px;
  }
  main section .main__info {
    padding: 20px 0px 0 0;
  }
  main section .main__info h2 {
    font-size: 26px;
  }
  aside {
    padding: 0 0px;
  }
  aside section .design__info h3 {
    font-size: 24px;
  }
}
@media only screen and (max-width: 350px) {
  .container {
    width: 300px;
  }
}/*# sourceMappingURL=style.css.map */