footer{
    background: $footer-bg;
    color: $white;
    section{
        padding: 140px 0 50px 0;
        .footer__top{
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid #343334;
            padding: 0 0 40px 0;
            nav{
                ul{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    column-gap: 42px;
                    li{
                        a{
                            font-weight: 400;
                            font-size: 14px;
                            letter-spacing: 1px;
                            color: $white;
                            text-transform: uppercase;
                        }
                    }
                }
            }
        }
        .footer__bottom{
            margin-top: 31px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            ul{
                li{                        
                    margin-bottom: 8px;
                    a{
                        font-weight: 500;
                        font-size: 16px;
                        color: $white;
                        mix-blend-mode: normal;
                        opacity: 0.8;
                    }
                    &:last-child{
                        margin-bottom: 0;
                    }
                }
            }
            .footer__social{
                i{
                    margin-right: 16px;
                    color: $section-bg;
                    font-size: 24px;
                    cursor: pointer;
                    transition: 0.5s;
                    &:last-child{
                        margin-right: 0;
                    }
                    &:hover{
                        color: #FFAD9B;
                    }
                }
            }
        }
    }
}