@media only screen and (max-width: 1140px) {
    .container{
        width: 900px;
    }
}

@media only screen and (max-width: 900px) {
    .container{
        width: 700px;
    }
}

@media only screen and (max-width: 700px) {
    .container{
        width: 600px;
    }
}

@media only screen and (max-width: 600px) {
    .container{
        width: 500px;
    }
    header{
        section{
            nav{
                ul{
                    display: none;
                }
                .gamburger_menu{
                    display: block;
                }
            }
        }
    }
}

@media only screen and (max-width: 500px) {
    .container{
        width: 400px;
    }
}

@media only screen and (max-width: 400px) {
    .container{
        width: 300px;
    }
}