@media only screen and (max-width: 1140px) {
    .container{
        width: 900px;
    }
    main{
        section{
            .main__info{
                padding-left: 40px;
                h2{
                    font-size: 32px;
                }
            }
        }
    }
    aside{
        section{
            img{
                width: 100%;
            }
        }
    }
}

@media only screen and (max-width: 900px) {
    .container{
        width: 700px;
    }
    main{
        section{
            column-gap: 0px;
                &:before{
                    width: 450px;
                    height: 450px;
                }
            .main__info{
                padding-left: 20px;
                h2{
                    font-size: 24px;
                }
                p{
                    font-size: 14px;
                }
            }
        }
    }
    aside{
        section{
            .design__info{
                h3{
                    font-size: 24px;
                }
                p{
                    font-size: 14px;
                }
            }
            .veiw_design{
                row-gap: 0px;
            }
        }
    }
    .about{
        section{
            .about__wrap{
                column-gap: 5px;
            }
            .about__footer{
                padding: 35px 50px;
                .about__ft_info{
                    width: 60%;
                } 
            }
        }
    }
}

@media only screen and (max-width: 700px) {
    .container{
        width: 600px;
    }
    main{
        section{
            flex-direction: column;
            overflow: hidden;
                &:before{
                    top: 100px;
                    left: 200px;
                    width: 500px;
                    height: 500px;
                }
            .main__info{
                padding: 20px 58px 0 58px;
                h2{
                    font-size: 48px;
                }
                p{
                    font-size: 16px;
                }
            }
        }
    }
    aside{
        padding: 0 10px;
        section{
            grid-template-columns: 1fr;
            .design__info{
                h3{
                    font-size: 48px;
                }
            }
        }
    }
    .about{
        section{
            .about__wrap{
                grid-template-columns: 1fr;
                .about__item{
                    display: flex;
                    column-gap: 32px;
                    text-align: left;
                }
            }
            .about__footer{
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
                .about__ft_info{
                    text-align: center;
                    width: 100%;
                }
                p{
                    margin-bottom: 32px;
                }
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .container{
        width: 500px;
    }
    header{
        section{
            nav{
                ul{
                    display: none;
                }
                .gamburger_menu{
                    display: block;
                }
            }
        }
    }
    main{
        section{
                &:before{
                    left: 150px;
                }
            .main__info{
                padding: 20px 38px 0 38px;
                h2{
                    font-size: 42px;
                }
            }
        }
    }
    aside{
        section{
            .design__info{
                h3{
                    font-size: 40px;
                }
            }
        }
    }
    .about{
        section{
            .about__footer{
                padding: 20px 30px;
            }
        }
    }
}

@media only screen and (max-width: 500px) {
    .container{
        width: 400px;
    }
    main{
        section{
            width: 100% !important;
            padding: 0 10px;
                &:before{
                    left: 0px;
                }
            .main__info{
                padding: 20px 24px 0 24px;
                h2{
                    font-size: 40px;
                }
            }
        }
    }
    aside{
        section{
            .design__info{
                h3{
                    font-size: 28px;
                }
            }
        }
    }
    .about{
        section{
            .about__wrap{
                .about__item{
                    flex-direction: column;
                    text-align: center;
                }
            }
            .about__footer{
                .about__ft_info{
                    h5{
                        font-size: 36px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 400px) {
    .container{
        width: 350px;
    }
    main{
        section{
            padding: 0 15px;
            .main__info{
                padding: 20px 0px 0 0;
                h2{
                    font-size: 26px;
                }
            }
        }
    }
    aside{
        padding: 0 0px;
        section{
            .design__info{
                h3{
                    font-size: 24px;
                }
            }
        }
    }
    .about{
        section{
            .about__footer{
                padding: 20px 15px;
                .about__ft_info{
                    h5{
                        font-size: 32px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 350px) {
    .container{
        width: 300px;
    }
}